In [1]:
import pandas as pd, numpy as np,  scipy.stats as st, matplotlib.pyplot as plt, requests, json, getpass, statsmodels.api as sm
from api_keys import geoapify_key

In [2]:
data_df = pd.read_csv("Clean_Data\cleaned_perth_data.csv")
data_df.drop_duplicates(subset=['ADDRESS'],inplace=True)
data_Lat = data_df.groupby("SUBURB")["LATITUDE"].mean()
data_Long = data_df.groupby("SUBURB")["LONGITUDE"].mean()
data_Sub = data_Long.index
Clean_data_df = pd.DataFrame({"Suburb": data_Sub,
                              "Latitude": data_Lat,
                              "Longitude": data_Long})
Clean_data_df["Distance_to_Beach"] = ""

In [3]:
base_url = "https://api.geoapify.com/v2/places"

limit = 20
categories = "beach"
apiKey = geoapify_key

for index, row in Clean_data_df.iterrows():
    latitude = Clean_data_df["Latitude"][index]
    longitude = Clean_data_df["Longitude"][index]

    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params = {"bias": f"proximity:{longitude},{latitude}",
              "categories": categories,
              "limit": limit,
              "apiKey": apiKey,
              }

    beach_distance = requests.get(base_url, params = params)
    beach_distance = beach_distance.json()
    try:
        Clean_data_df.loc[index, "Distance_to_Beach"] = int(beach_distance["features"][0]["properties"]["distance"])
    except (KeyError, IndexError):
        Clean_data_df.loc[index, "Distance_to_Beach"] = "No beach is found"
    print(f"nearest {Clean_data_df.loc[index, 'Suburb']} - nearest beach is located by : {Clean_data_df.loc[index, 'Distance_to_Beach']}")

Clean_data_df

nearest Alexander Heights - nearest beach is located by : 10907
nearest Alfred Cove - nearest beach is located by : 2983
nearest Alkimos - nearest beach is located by : 2268
nearest Anketell - nearest beach is located by : 9941
nearest Applecross - nearest beach is located by : 1876
nearest Ardross - nearest beach is located by : 1368
nearest Armadale - nearest beach is located by : 4080
nearest Ascot - nearest beach is located by : 615
nearest Ashby - nearest beach is located by : 7217
nearest Ashfield - nearest beach is located by : 643
nearest Attadale - nearest beach is located by : 1535
nearest Atwell - nearest beach is located by : 9530
nearest Aubin Grove - nearest beach is located by : 8425
nearest Aveley - nearest beach is located by : 11525
nearest Balcatta - nearest beach is located by : 6766
nearest Baldivis - nearest beach is located by : 6505
nearest Balga - nearest beach is located by : 8357
nearest Ballajura - nearest beach is located by : 9618
nearest Banjup - nearest beach is located by : 10604
nearest Banksia Grove - nearest beach is located by : 3586
nearest Baskerville - nearest beach is located by : 11336
nearest Bassendean - nearest beach is located by : 1846
nearest Bateman - nearest beach is located by : 1924
nearest Bayswater - nearest beach is located by : 1455
nearest Beaconsfield - nearest beach is located by : 1538
nearest Beckenham - nearest beach is located by : 7575
nearest Bedford - nearest beach is located by : 3736
nearest Bedfordale - nearest beach is located by : 8462
nearest Beechboro - nearest beach is located by : 4949
nearest Beeliar - nearest beach is located by : 4704
nearest Beldon - nearest beach is located by : 2955
nearest Belhus - nearest beach is located by : 12436
nearest Bellevue - nearest beach is located by : 4390
nearest Belmont - nearest beach is located by : 2166
nearest Bennett Springs - nearest beach is located by : 5945
nearest Bentley - nearest beach is located by : 3726
nearest Bertram - nearest beach is located by : 8048
nearest Bibra Lake - nearest beach is located by : 6312
nearest Bickley - nearest beach is located by : 14362
nearest Bicton - nearest beach is located by : 822
nearest Booragoon - nearest beach is located by : 2189
nearest Boya - nearest beach is located by : 6798
nearest Brabham - nearest beach is located by : 8052
nearest Brentwood - nearest beach is located by : 782
nearest Brigadoon - nearest beach is located by : 14052
nearest Brookdale - nearest beach is located by : 6212
nearest Bull Creek - nearest beach is located by : 1778
nearest Bullsbrook - nearest beach is located by : 24057
nearest Burns Beach - nearest beach is located by : 857
nearest Burswood - nearest beach is located by : 1893
nearest Butler - nearest beach is located by : 2048
nearest Byford - nearest beach is located by : 11825
nearest Calista - nearest beach is located by : 4395
nearest Camillo - nearest beach is located by : 762
nearest Canning Vale - nearest beach is located by : 7011
nearest Cannington - nearest beach is located by : 5227
nearest Carabooda - nearest beach is located by : 5524
nearest Cardup - nearest beach is located by : 15144
nearest Carine - nearest beach is located by : 2661
nearest Carlisle - nearest beach is located by : 4509
nearest Carmel - nearest beach is located by : 12890
nearest Carramar - nearest beach is located by : 4433
nearest Casuarina - nearest beach is located by : 10346
nearest Caversham - nearest beach is located by : 3064
nearest Champion Lakes - nearest beach is located by : 264
nearest Chidlow - nearest beach is located by : 1310
nearest Churchlands - nearest beach is located by : 3546
nearest City Beach - nearest beach is located by : 873
nearest Claremont - nearest beach is located by : 2813
nearest Clarkson - nearest beach is located by : 2482
nearest Cloverdale - nearest beach is located by : 4064
nearest Cockburn Central - nearest beach is located by : 8311
nearest Como - nearest beach is located by : 1048
nearest Connolly - nearest beach is located by : 2356
nearest Coogee - nearest beach is located by : 949
nearest Coolbellup - nearest beach is located by : 4370
nearest Coolbinia - nearest beach is located by : 4914
nearest Cooloongup - nearest beach is located by : 3029
nearest Cottesloe - nearest beach is located by : 812
nearest Craigie - nearest beach is located by : 2993
nearest Crawley - nearest beach is located by : 2364
nearest Currambine - nearest beach is located by : 2411
nearest Daglish - nearest beach is located by : 3728
nearest Dalkeith - nearest beach is located by : 1124
nearest Darch - nearest beach is located by : 9522
nearest Darling Downs - nearest beach is located by : 8916
nearest Darlington - nearest beach is located by : 8651
nearest Dayton - nearest beach is located by : 3751
nearest Dianella - nearest beach is located by : 6458
nearest Doubleview - nearest beach is located by : 2539
nearest Duncraig - nearest beach is located by : 2622
nearest East Cannington - nearest beach is located by : 7296
nearest East Fremantle - nearest beach is located by : 611
nearest East Perth - nearest beach is located by : 657
nearest East Victoria Park - nearest beach is located by : 4173
nearest Eden Hill - nearest beach is located by : 3327
nearest Edgewater - nearest beach is located by : 5020
nearest Eglinton - nearest beach is located by : 1550
nearest Ellenbrook - nearest beach is located by : 12464
nearest Embleton - nearest beach is located by : 3335
nearest Ferndale - nearest beach is located by : 3997
nearest Floreat - nearest beach is located by : 3687
nearest Forrestdale - nearest beach is located by : 7051
nearest Forrestfield - nearest beach is located by : 9057
nearest Fremantle - nearest beach is located by : 1175
nearest Gidgegannup - nearest beach is located by : 8208
nearest Girrawheen - nearest beach is located by : 8328
nearest Glen Forrest - nearest beach is located by : 10980
nearest Glendalough - nearest beach is located by : 5336
nearest Gnangara - nearest beach is located by : 11651
nearest Golden Bay - nearest beach is located by : 1077
nearest Gooseberry Hill - nearest beach is located by : 8998
nearest Gosnells - nearest beach is located by : 2980
nearest Greenmount - nearest beach is located by : 5695
nearest Greenwood - nearest beach is located by : 5293
nearest Guildford - nearest beach is located by : 1453
nearest Gwelup - nearest beach is located by : 4137
nearest Hamersley - nearest beach is located by : 5648
nearest Hamilton Hill - nearest beach is located by : 2673
nearest Hammond Park - nearest beach is located by : 7186
nearest Harrisdale - nearest beach is located by : 5914
nearest Haynes - nearest beach is located by : 5040
nearest Hazelmere - nearest beach is located by : 1716
nearest Heathridge - nearest beach is located by : 2707
nearest Helena Valley - nearest beach is located by : 5099
nearest Henley Brook - nearest beach is located by : 9670
nearest Herne Hill - nearest beach is located by : 7402
nearest High Wycombe - nearest beach is located by : 5846
nearest Highgate - nearest beach is located by : 1643
nearest Hilbert - nearest beach is located by : 6679
nearest Hillarys - nearest beach is located by : 1225
nearest Hillman - nearest beach is located by : 2874
nearest Hilton - nearest beach is located by : 2045
nearest Hocking - nearest beach is located by : 8199
nearest Hope Valley - nearest beach is located by : 4406
nearest Hopeland - nearest beach is located by : 13518
nearest Hovea - nearest beach is located by : 11555
nearest Huntingdale - nearest beach is located by : 4303
nearest Iluka - nearest beach is located by : 1017
nearest Inglewood - nearest beach is located by : 3735
nearest Innaloo - nearest beach is located by : 3689
nearest Jandabup - nearest beach is located by : 9988
nearest Jandakot - nearest beach is located by : 6847
nearest Jane Brook - nearest beach is located by : 6290
nearest Jarrahdale - nearest beach is located by : 25583
nearest Jindalee - nearest beach is located by : 881
nearest Jolimont - nearest beach is located by : 4049
nearest Joondalup - nearest beach is located by : 4228
nearest Joondanna - nearest beach is located by : 5595
nearest Kalamunda - nearest beach is located by : 11669
nearest Kallaroo - nearest beach is located by : 1101
nearest Karawara - nearest beach is located by : 2041
nearest Kardinya - nearest beach is located by : 4203
nearest Karnup - nearest beach is located by : 3312
nearest Karragullen - nearest beach is located by : 10383
nearest Karrinyup - nearest beach is located by : 2568
nearest Kelmscott - nearest beach is located by : 2323
nearest Kensington - nearest beach is located by : 2120
nearest Kenwick - nearest beach is located by : 7922
nearest Kewdale - nearest beach is located by : 4908
nearest Keysbrook - nearest beach is located by : 23531
nearest Kiara - nearest beach is located by : 4324
nearest Kingsley - nearest beach is located by : 5316
nearest Kinross - nearest beach is located by : 2360
nearest Koondoola - nearest beach is located by : 10452
nearest Koongamia - nearest beach is located by : 5311
nearest Kwinana Beach - nearest beach is located by : 2778
nearest Kwinana Town Centre - nearest beach is located by : 5214
nearest Landsdale - nearest beach is located by : 11227
nearest Langford - nearest beach is located by : 5634
nearest Lathlain - nearest beach is located by : 2884
nearest Leda - nearest beach is located by : 4975
nearest Leederville - nearest beach is located by : 3326
nearest Leeming - nearest beach is located by : 3658
nearest Lesmurdie - nearest beach is located by : 12593
nearest Lockridge - nearest beach is located by : 3435
nearest Lynwood - nearest beach is located by : 4568
nearest Maddington - nearest beach is located by : 6007
nearest Madeley - nearest beach is located by : 7921
nearest Mahogany Creek - nearest beach is located by : 12661
nearest Maida Vale - nearest beach is located by : 7853
nearest Manning - nearest beach is located by : 1780
nearest Marangaroo - nearest beach is located by : 8756
nearest Mardella - nearest beach is located by : 21802
nearest Mariginiup - nearest beach is located by : 6282
nearest Marmion - nearest beach is located by : 652
nearest Martin - nearest beach is located by : 4124
nearest Maylands - nearest beach is located by : 1997
nearest Medina - nearest beach is located by : 4297
nearest Melville - nearest beach is located by : 2775
nearest Menora - nearest beach is located by : 4100
nearest Merriwa - nearest beach is located by : 2088
nearest Middle Swan - nearest beach is located by : 3254
nearest Midland - nearest beach is located by : 2005
nearest Midvale - nearest beach is located by : 3176
nearest Millendon - nearest beach is located by : 9863
nearest Mindarie - nearest beach is located by : 1089
nearest Mirrabooka - nearest beach is located by : 9784
nearest Morley - nearest beach is located by : 5132
nearest Mosman Park - nearest beach is located by : 937
nearest Mount Claremont - nearest beach is located by : 2631
nearest Mount Hawthorn - nearest beach is located by : 4583
nearest Mount Helena - nearest beach is located by : 4554
nearest Mount Lawley - nearest beach is located by : 2368
nearest Mount Nasura - nearest beach is located by : 4093
nearest Mount Pleasant - nearest beach is located by : 399
nearest Mount Richon - nearest beach is located by : 5808
nearest Mullaloo - nearest beach is located by : 1118
nearest Mundaring - nearest beach is located by : 9750
nearest Mundijong - nearest beach is located by : 19669
nearest Munster - nearest beach is located by : 4834
nearest Murdoch - nearest beach is located by : 3312
nearest Myaree - nearest beach is located by : 3385
nearest Naval Base - nearest beach is located by : 1362
nearest Nedlands - nearest beach is located by : 2458
nearest Neerabup - nearest beach is located by : 3489
nearest Nollamara - nearest beach is located by : 8423
nearest Noranda - nearest beach is located by : 6584
nearest North Beach - nearest beach is located by : 635
nearest North Coogee - nearest beach is located by : 285
nearest North Fremantle - nearest beach is located by : 750
nearest North Lake - nearest beach is located by : 5325
nearest North Perth - nearest beach is located by : 3527
nearest Northbridge - nearest beach is located by : 1585
nearest O'Connor - nearest beach is located by : 2069
nearest Oakford - nearest beach is located by : 11334
nearest Ocean Reef - nearest beach is located by : 906
nearest Oldbury - nearest beach is located by : 13722
nearest Orange Grove - nearest beach is located by : 7983
nearest Orelia - nearest beach is located by : 5808
nearest Osborne Park - nearest beach is located by : 6630
nearest Padbury - nearest beach is located by : 3172
nearest Palmyra - nearest beach is located by : 1526
nearest Parkerville - nearest beach is located by : 11077
nearest Parkwood - nearest beach is located by : 3615
nearest Parmelia - nearest beach is located by : 6284
nearest Pearsall - nearest beach is located by : 8057
nearest Peppermint Grove - nearest beach is located by : 1167
nearest Piara Waters - nearest beach is located by : 7165
nearest Pickering Brook - nearest beach is located by : 13959
nearest Port Kennedy - nearest beach is located by : 1508
nearest Queens Park - nearest beach is located by : 6445
nearest Quinns Rocks - nearest beach is located by : 791
nearest Redcliffe - nearest beach is located by : 2579
nearest Ridgewood - nearest beach is located by : 3045
nearest Riverton - nearest beach is located by : 1583
nearest Rivervale - nearest beach is located by : 3289
nearest Rockingham - nearest beach is located by : 1255
nearest Roleystone - nearest beach is located by : 7071
nearest Rossmoyne - nearest beach is located by : 826
nearest Safety Bay - nearest beach is located by : 684
nearest Salter Point - nearest beach is located by : 942
nearest Samson - nearest beach is located by : 2980
nearest Sawyers Valley - nearest beach is located by : 6963
nearest Scarborough - nearest beach is located by : 1322
nearest Secret Harbour - nearest beach is located by : 1403
nearest Serpentine - nearest beach is located by : 22275
nearest Seville Grove - nearest beach is located by : 2486
nearest Shelley - nearest beach is located by : 385
nearest Shenton Park - nearest beach is located by : 3139
nearest Shoalwater - nearest beach is located by : 890
nearest Sinagra - nearest beach is located by : 7629
nearest Singleton - nearest beach is located by : 667
nearest Sorrento - nearest beach is located by : 916
nearest South Fremantle - nearest beach is located by : 468
nearest South Guildford - nearest beach is located by : 2248
nearest South Lake - nearest beach is located by : 7332
nearest South Perth - nearest beach is located by : 1024
nearest Southern River - nearest beach is located by : 4358
nearest Spearwood - nearest beach is located by : 2060
nearest St James - nearest beach is located by : 3846
nearest Stirling - nearest beach is located by : 5599
nearest Stoneville - nearest beach is located by : 8038
nearest Stratton - nearest beach is located by : 5244
nearest Subiaco - nearest beach is located by : 2887
nearest Success - nearest beach is located by : 8178
nearest Swan View - nearest beach is located by : 5477
nearest Swanbourne - nearest beach is located by : 1334
nearest Tapping - nearest beach is located by : 5879
nearest The Vines - nearest beach is located by : 14468
nearest Thornlie - nearest beach is located by : 6371
nearest Trigg - nearest beach is located by : 558
nearest Tuart Hill - nearest beach is located by : 6790
nearest Two Rocks - nearest beach is located by : 1710
nearest Upper Swan - nearest beach is located by : 13563
nearest Victoria Park - nearest beach is located by : 3013
nearest Viveash - nearest beach is located by : 1238
nearest Waikiki - nearest beach is located by : 1556
nearest Walliston - nearest beach is located by : 13786
nearest Wandi - nearest beach is located by : 8235
nearest Wangara - nearest beach is located by : 9807
nearest Wanneroo - nearest beach is located by : 7415
nearest Warnbro - nearest beach is located by : 1186
nearest Warwick - nearest beach is located by : 5092
nearest Waterford - nearest beach is located by : 1383
nearest Watermans Bay - nearest beach is located by : 372
nearest Wattle Grove - nearest beach is located by : 9805
nearest Wattleup - nearest beach is located by : 4021
nearest Wellard - nearest beach is located by : 7723
nearest Welshpool - nearest beach is located by : 4944
nearest Wembley - nearest beach is located by : 4447
nearest Wembley Downs - nearest beach is located by : 1734
nearest West Leederville - nearest beach is located by : 2890
nearest West Perth - nearest beach is located by : 1722
nearest West Swan - nearest beach is located by : 4153
nearest Westminster - nearest beach is located by : 8182
nearest White Gum Valley - nearest beach is located by : 938
nearest Willagee - nearest beach is located by : 2845
nearest Willetton - nearest beach is located by : 3068
nearest Wilson - nearest beach is located by : 2743
nearest Winthrop - nearest beach is located by : 3332
nearest Woodbridge - nearest beach is located by : 581
nearest Woodlands - nearest beach is located by : 3366
nearest Woodvale - nearest beach is located by : 5536
nearest Wooroloo - nearest beach is located by : 7844
nearest Wungong - nearest beach is located by : 7872
nearest Yanchep - nearest beach is located by : 1452
nearest Yangebup - nearest beach is located by : 4693
nearest Yokine - nearest beach is located by : 6630

                              Suburb   Latitude   Longitude Distance_to_Beach
SUBURB
Alexander Heights  Alexander Heights -31.827133  115.864632             10907
Alfred Cove              Alfred Cove -32.033900  115.815981              2983
Alkimos                      Alkimos -31.615747  115.687668              2268
Anketell                    Anketell -32.215547  115.877233              9941
Applecross                Applecross -32.013490  115.838477              1876
...                              ...        ...         ...               ...
Wooroloo                    Wooroloo -31.801048  116.311440              7844
Wungong                      Wungong -32.181590  116.014520              7872
Yanchep                      Yanchep -31.544042  115.638093              1452
Yangebup                    Yangebup -32.122827  115.811484              4693
Yokine                        Yokine -31.898601  115.849611              6630

[319 rows x 4 columns]

In [4]:
Clean_data_df["Price"] = data_df.groupby("SUBURB")["PRICE"].mean()
Clean_data_df["Land_Area"] = data_df.groupby("SUBURB")["LAND_AREA"].mean()
Clean_data_df["Distance_to_Beach"] = Clean_data_df["Distance_to_Beach"].astype("float64")
Clean_data_df.to_csv("Cleaned_Data.csv")
Clean_data_df

,Suburb,Latitude,Longitude,Distance_to_Beach,Price,Land_Area
SUBURB,,,,,,
Alexander Heights,Alexander Heights,-31.827133,115.864632,10907.0,4.490973e+05,625.787611
Alfred Cove,Alfred Cove,-32.033900,115.815981,2983.0,8.493350e+05,577.790000
Alkimos,Alkimos,-31.615747,115.687668,2268.0,4.142292e+05,10647.875000
Anketell,Anketell,-32.215547,115.877233,9941.0,1.005267e+06,20896.400000
Applecross,Applecross,-32.013490,115.838477,1876.0,1.396130e+06,703.917808
...,...,...,...,...,...,...
Wooroloo,Wooroloo,-31.801048,116.311440,7844.0,4.116774e+05,24271.387097
Wungong,Wungong,-32.181590,116.014520,7872.0,6.704650e+05,13261.222222
Yanchep,Yanchep,-31.544042,115.638093,1452.0,3.906562e+05,583.000000
Yangebup,Yangebup,-32.122827,115.811484,4693.0,4.702661e+05,665.807339
Yokine,Yokine,-31.898601,115.849611,6630.0,6.367181e+05,539.936170

In [5]:
WA_IncomeProfile_df = pd.read_csv("raw_data\WA_LGA_Income and Rent.csv")
WA_IncomeProfile_df = WA_IncomeProfile_df.drop(["Median_age_persons", "Med_mort_repaymnt_monthly", "Avge_numbr_prsons_per_bedroom",
                                          "Average_household_size", "Median_rent_weekly"], axis = 1)

In [6]:
Suburb_codes = pd.read_csv("raw_data\WA_LGA_Suburb_codes.csv")
Cleaned_Data = pd.read_csv("Cleaned_Data.csv")
Suburb_profile = pd.merge(WA_IncomeProfile_df, Suburb_codes, on = "LGA_CODE_2021", how = "inner")
Suburb_HH_income = pd.merge(Cleaned_Data, Suburb_profile, how = "inner", on = "Suburb").drop("SUBURB", axis = 1)
Suburb_HH_income.rename(columns={"Med_tot_psnl_incom_weekly": "Personal Income",
                                 "Med_tot_family_inc_weekly": "Family Income",
                                 "Med_tot_hh_incom_weekly": "Household Income"}, inplace = True)
Suburb_HH_income.head(10)

,Suburb,Latitude,Longitude,Distance_to_Beach,Price,Land_Area,LGA_CODE_2021,Personal Income,Family Income,Household Income,Local government area
0,Alexander Heights,-31.827133,115.864632,10907.0,4.490973e+05,625.787611,58760,801,2148,1891,Wanneroo
1,Alfred Cove,-32.033900,115.815981,2983.0,8.493350e+05,577.790000,55320,896,2654,2091,Melville
2,Alkimos,-31.615747,115.687668,2268.0,4.142292e+05,10647.875000,58760,801,2148,1891,Wanneroo
3,Anketell,-32.215547,115.877233,9941.0,1.005267e+06,20896.400000,54830,792,1996,1712,Kwinana
4,Applecross,-32.013490,115.838477,1876.0,1.396130e+06,703.917808,55320,896,2654,2091,Melville
5,Ardross,-32.026771,115.838075,1368.0,1.066473e+06,547.149533,55320,896,2654,2091,Melville
6,Armadale,-32.148528,116.004218,4080.0,2.490439e+05,859.368421,50210,801,2061,1768,Armadale
7,Ascot,-31.934462,115.928163,615.0,8.064060e+05,686.008621,50490,880,2086,1641,Belmont
8,Ashby,-31.733524,115.799137,7217.0,4.837745e+05,516.159509,58760,801,2148,1891,Wanneroo
9,Ashfield,-31.917406,115.937882,643.0,4.935616e+05,663.849315,50350,855,2278,1735,Bassendean

In [7]:
Variables = np.asarray(pd.DataFrame({"Land": data_df["LAND_AREA"],
                                     "Bedrooms": data_df["BEDROOMS"],
                                     "Bathrooms": data_df["BATHROOMS"]}))
model = sm.OLS(data_df["PRICE"], Variables)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  PRICE   R-squared (uncentered):                   0.796
Model:                            OLS   Adj. R-squared (uncentered):              0.796
Method:                 Least Squares   F-statistic:                          3.948e+04
Date:                Tue, 05 Sep 2023   Prob (F-statistic):                        0.00
Time:                        20:21:46   Log-Likelihood:                     -4.2988e+05
No. Observations:               30429   AIC:                                  8.598e+05
Df Residuals:                   30426   BIC:                                  8.598e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.8431      0.111      7.574      0.000       0.625       1.061
x2          6.557e+04   1978.073     33.151      0.000    6.17e+04    6.95e+04
x3          2.142e+05   3856.324     55.535      0.000    2.07e+05    2.22e+05
==============================================================================
Omnibus:                     9598.275   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            34877.558
Skew:                           1.566   Prob(JB):                         0.00
Kurtosis:                       7.207   Cond. No.                     3.92e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.92e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
critical_value = st.chi2.ppf(q = 0.95, df = 30498)
critical_value

30905.369404966397

In [9]:
Price_Area = st.ttest_ind(data_df["PRICE"], data_df["LAND_AREA"], equal_var=False)
Price_Area

TtestResult(statistic=310.16255594828897, pvalue=0.0, df=30566.70625247856)

In [10]:
Price_Bedrooms = st.ttest_ind(data_df["PRICE"], data_df["BEDROOMS"], equal_var=False)
Price_Bedrooms

TtestResult(statistic=311.81797176391666, pvalue=0.0, df=30428.000000268188)

In [11]:
Price_Bathrooms = st.ttest_ind(data_df["PRICE"], data_df["BATHROOMS"], equal_var=False)
Price_Bathrooms

TtestResult(statistic=311.81886999735764, pvalue=0.0, df=30428.000000165935)

In [12]:
Price_SchoolDistance = st.ttest_ind(data_df["PRICE"], data_df["NEAREST_SCH_DIST"], equal_var=False)
Price_SchoolDistance

TtestResult(statistic=311.81888701110336, pvalue=0.0, df=30428.000001379256)

In [13]:
Price_SchoolRank = st.ttest_ind(data_df["PRICE"], data_df["NEAREST_SCH_RANK"], equal_var=False, nan_policy= "omit")
Price_SchoolRank

TtestResult(statistic=311.78438716461386, pvalue=0.0, df=30428.00116419359)

In [14]:
Price_Beach = st.ttest_ind(Clean_data_df["Price"], Clean_data_df["Distance_to_Beach"], equal_var=False)
Price_Beach

TtestResult(statistic=39.57761869223503, pvalue=6.271207876284252e-125, df=318.12949066982463)

In [15]:
Income_Var = np.asarray(pd.DataFrame({"Personal_Income": Suburb_HH_income["Personal Income"],
                                     "Family_Income": Suburb_HH_income["Family Income"],
                                     "Household_Income": Suburb_HH_income["Household Income"]}))
Income_model = sm.OLS(Suburb_HH_income["Price"], Income_Var)
results_Income = Income_model.fit()
print(results_Income.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.921
Model:                            OLS   Adj. R-squared (uncentered):              0.920
Method:                 Least Squares   F-statistic:                              1325.
Date:                Tue, 05 Sep 2023   Prob (F-statistic):                   6.86e-188
Time:                        20:32:58   Log-Likelihood:                         -4718.1
No. Observations:                 345   AIC:                                      9442.
Df Residuals:                     342   BIC:                                      9454.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          -501.1165    142.765     -3.510      0.001    -781.924    -220.309
x2           803.3367     66.208     12.134      0.000     673.111     933.563
x3          -410.8450     74.824     -5.491      0.000    -558.018    -263.672
==============================================================================
Omnibus:                       58.493   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               88.249
Skew:                           1.054   Prob(JB):                     6.87e-20
Kurtosis:                       4.302   Cond. No.                         42.6
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
critical_value_2 = st.chi2.ppf(q = 0.95, df = 342)
critical_value_2

386.12517545484934