In [1]:
# Dependencies
import requests
from pprint import pprint
import numpy as np
import pandas as pd

In [2]:
# Import CSV as a Dataframe.
Testing_excel_df = pd.read_csv("all_perth_310121.csv")
Testing_excel_df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [3]:
# Check how many of the Properties had garage values
Testing_excel_df['GARAGE'].count()

31178

In [4]:
# Check the value type of GARAGE column
Testing_excel_df['GARAGE'].dtype

dtype('float64')

In [5]:
# Confirm the number of Properties 
Testing_excel_df['ADDRESS'].count()

33656

In [6]:
# Fill all GARAGE column values that are N/A with 0
Testing_excel_df['GARAGE']=Testing_excel_df['GARAGE'].fillna(0)

In [7]:
# Check the number of value counts produced inthe GARAGE column.
Testing_excel_df['GARAGE'].value_counts()

2.0     20724
1.0      5290
0.0      2478
3.0      2042
4.0      1949
6.0       466
5.0       362
8.0       129
7.0        97
12.0       30
10.0       26
9.0        17
14.0       13
13.0        8
11.0        7
16.0        4
18.0        3
20.0        3
32.0        1
17.0        1
21.0        1
99.0        1
26.0        1
22.0        1
50.0        1
31.0        1
Name: GARAGE, dtype: int64

In [8]:
# Check how many of the Properties had garage values matches the number of Properties
Testing_excel_df['GARAGE'].count()

33656

In [9]:
# Check how many of the Properties had a build year value
Testing_excel_df['BUILD_YEAR'].count()

30501

In [10]:
# Drop all Properties with a build value of Null
no_buildyear_df = Testing_excel_df.dropna(subset=['BUILD_YEAR'])

In [11]:
#Check the number of properties with garage counts now empty data cells have been dropped.
no_buildyear_df['GARAGE'].count()

30501

In [12]:
#Confirm the number of properties with garage counts is the same as the number of Properties
no_buildyear_df['ADDRESS'].count()

30501

In [ ]:
#Save Data file.
no_buildyear_df.to_csv("cleaned_perth_data.csv", index=False, header= True)